In [557]:
# Import libraries

In [585]:
import pandas as pd
import os

# Find columns with all NaN

In [560]:
test_lines = ['icab_b', 'hni', 'kaga', 'hdrr', 'ho5', 'mikk_a', 'mikk_b']

In [561]:
pd.isnull(file['ian_brettell'][line]).all().all()

True

In [562]:
test_lines

['icab_b', 'hni', 'kaga', 'hdrr', 'ho5', 'mikk_a', 'mikk_b']

In [563]:
lines_to_drop = []
for line in test_lines:
    if pd.isnull(file['ian_brettell'][line]).all().all():
        lines_to_drop.append(line)

In [564]:
lines_to_drop

['icab_b', 'hni', 'kaga', 'ho5', 'mikk_a', 'mikk_b']

In [565]:
file.drop(columns = lines_to_drop, level = 1, inplace = True)

## Rename columns

In [566]:
pairs = [['icab_a', 'ref'], ['icab_b', 'test'], ['hni', 'test'], ['kaga', 'test'], ['hdrr', 'test'], ['ho5', 'test'], ['mikk_a', 'test'], ['mikk_b', 'test']]

In [567]:
dict_ = {k: v for k, v in pairs}

In [568]:
dict_

{'icab_a': 'ref',
 'icab_b': 'test',
 'hni': 'test',
 'kaga': 'test',
 'hdrr': 'test',
 'ho5': 'test',
 'mikk_a': 'test',
 'mikk_b': 'test'}

In [569]:
file.rename(dict_, level="individuals", axis=1, inplace=True)

In [586]:
os.remove(in_file)

In [587]:
file.to_hdf(in_file, key="df_with_missing", mode='w')

In [582]:
file.to_hdf?

In [580]:
pd.read_hdf?

# Read in and make new lists of videos to analyse

## 8 December 2020

In [32]:
import pandas as pd
# Read in data
df = pd.read_csv('/Users/brettell/Documents/Repositories/pilot_paper/data/20201208_analysed_samples.csv')

In [33]:
df.head()

,sample,current,analysed,tracklets,needs another analysis,completed
0,20190611_1331_icab_icab_R_q1_novel_object,NaN,NaN,NaN,NaN,NaN
1,20190611_1331_icab_icab_R_q1_open_field,NaN,NaN,NaN,NaN,NaN
2,20190611_1331_icab_icab_R_q2_novel_object,NaN,NaN,NaN,NaN,NaN
3,20190611_1331_icab_icab_R_q2_open_field,NaN,NaN,NaN,NaN,NaN
4,20190611_1331_icab_icab_R_q3_novel_object,NaN,NaN,NaN,NaN,NaN

In [34]:
df.shape

(616, 6)

In [35]:
# get completed rows
completed = df["completed"] == "yes"

In [36]:
df["completed"].unique()

array([nan, 'yes'], dtype=object)

In [37]:
df["completed"] == "yes"

0      False
1      False
2      False
3      False
4      False
       ...
611    False
612    False
613    False
614    False
615    False
Name: completed, Length: 616, dtype: bool

In [38]:
# Get equal
df[df.completed.eq("yes")]

,sample,current,analysed,tracklets,needs another analysis,completed
163,20190613_1054_icab_hdr_R_q2_open_field,NaN,yes,yes,NaN,yes
247,20190614_1139_icab_hni_R_q4_open_field,yes,yes,NaN,yes,yes

In [42]:
# Get not-equal
samples = df.loc[df['completed'] != "yes", "sample"]
samples

0      20190611_1331_icab_icab_R_q1_novel_object
1        20190611_1331_icab_icab_R_q1_open_field
2      20190611_1331_icab_icab_R_q2_novel_object
3        20190611_1331_icab_icab_R_q2_open_field
4      20190611_1331_icab_icab_R_q3_novel_object
                         ...
611      20190616_1717_icab_icab_L_q2_open_field
612    20190616_1717_icab_icab_L_q3_novel_object
613      20190616_1717_icab_icab_L_q3_open_field
614    20190616_1717_icab_icab_L_q4_novel_object
615      20190616_1717_icab_icab_L_q4_open_field
Name: sample, Length: 614, dtype: object

In [43]:
# Write to file
samples.to_csv('/Users/brettell/Documents/Repositories/pilot_paper/data/samples_to_analyse.csv')

# 20201218 amend samples file

In [3]:
import pandas as pd
import os

In [7]:
os.getcwd()

'/Users/brettell/Documents/Repositories/pilot_paper/code/notebooks'

In [13]:
# Read in data
df = pd.read_csv('/Users/brettell/Documents/Repositories/pilot_paper/code/snakemake/config/samples.csv',comment="#")

In [14]:
df

,sample,date,time,tank_side,of_start,of_end,no_start,no_end,fps,adj_top,adj_bottom,adj_left,adj_right
0,20190611_1331_icab_icab_R,20190611,1331,R,1723,20000,20892,39458,30,0,5,5,10
1,20190611_1410_icab_kaga_R,20190611,1410,R,2380,21791,22584,42226,30,0,5,5,10
2,20190611_1454_icab_hni_R,20190611,1454,R,2815,21698,22351,40727,30,0,7,7,10
3,20190611_1552_icab_hni_R,20190611,1552,R,2640,21549,22163,40642,30,5,5,5,10
4,20190611_1628_icab_hdr_R,20190611,1628,R,2434,21290,22020,40267,30,0,5,8,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,20190616_1531_icab_hdr_L,20190616,1531,L,2421,21057,21662,40056,30,5,10,5,10
73,20190616_1556_icab_hdr_L,20190616,1556,L,2071,21015,21746,40323,30,5,10,5,0
74,20190616_1622_icab_ho5_L,20190616,1622,L,2286,20929,21531,39813,30,5,10,5,10
75,20190616_1651_icab_icab_L,20190616,1651,L,1980,21029,21647,40943,30,5,10,5,0
76,20190616_1717_icab_icab_L,20190616,1717,L,2509,20787,21265,39543,30,5,10,5,10

In [16]:
df['of_vidlen'] = df['of_end'] - df['of_start']
df['no_vidlen'] = df['no_end'] - df['no_start']

In [21]:
df

,sample,date,time,tank_side,of_start,of_end,no_start,no_end,fps,adj_top,adj_bottom,adj_left,adj_right,of_vidlen,no_vidlen
0,20190611_1331_icab_icab_R,20190611,1331,R,1723,20000,20892,39458,30,0,5,5,10,18277,18566
1,20190611_1410_icab_kaga_R,20190611,1410,R,2380,21791,22584,42226,30,0,5,5,10,19411,19642
2,20190611_1454_icab_hni_R,20190611,1454,R,2815,21698,22351,40727,30,0,7,7,10,18883,18376
3,20190611_1552_icab_hni_R,20190611,1552,R,2640,21549,22163,40642,30,5,5,5,10,18909,18479
4,20190611_1628_icab_hdr_R,20190611,1628,R,2434,21290,22020,40267,30,0,5,8,5,18856,18247
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,20190616_1531_icab_hdr_L,20190616,1531,L,2421,21057,21662,40056,30,5,10,5,10,18636,18394
73,20190616_1556_icab_hdr_L,20190616,1556,L,2071,21015,21746,40323,30,5,10,5,0,18944,18577
74,20190616_1622_icab_ho5_L,20190616,1622,L,2286,20929,21531,39813,30,5,10,5,10,18643,18282
75,20190616_1651_icab_icab_L,20190616,1651,L,1980,21029,21647,40943,30,5,10,5,0,19049,19296
76,20190616_1717_icab_icab_L,20190616,1717,L,2509,20787,21265,39543,30,5,10,5,10,18278,18278

In [26]:
df.to_csv('/Users/brettell/Documents/Repositories/pilot_paper/code/snakemake/config/samples.csv',index=False)